* {
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  scroll-behavior: smooth;
}
ul {
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: rgb(207, 22, 22);
  border-radius: 2em 2em 2em 2em;
  overflow: hidden;
}

li {
  padding: 0.5em;
  color: aliceblue;
  transition: 0.6s;
}
li:hover {
  background-color: red;
  border-radius: 5px;
  color: black;
}
body {
  background-color: black;
}
nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

.section1 {
  background-image: url(/Images&Icons/wave-haikei.png);
  background-size: cover;
  height: 88.9vh;
  background-repeat: no-repeat;
  border-radius: 2em;
}
.me {
  position: absolute;
  right: 0em;
  bottom: 0em;
  margin: 0;
}
.content {
  height: 100vh;
  display: flex;
  color: white;
  align-items: center;
  margin: 2rem;
  position: relative;
  bottom: 2rem;
}
.lastname {
  color: red;
}
.name {
  font-size: 4rem;
}
.text {
  transition: 0.7s;
}
.text:hover {
  transform: scale(1.5) translate(5vw);
}
li a {
  text-decoration-line: none;
  color: aliceblue;
}
